@import './variables.scss';

.footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;

  p {
    font-size: $size-s;
    color: $color-2;

    a {
      font-weight: 700;
      transition: .3s;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }
}