// Colors
$primary-color: #EB5757;
$color-1: #333;
$color-2: #4F4F4F;
$color-3: #828282;
$color-4: #BDBDBD;
$color-5: #F2F2F2;

// Fonts
$size-xl: clamp(1.8rem, 5vw, 2.4rem);
$size-l: clamp(1.6rem, 5vw, 2rem);
$size-m: clamp(1.4rem, 5vw, 1.6rem);
$size-s: clamp(1.2rem, 2vw, 1.4rem);
$size-xs: clamp(1rem, 2vw, 1.2rem);

$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Mulish', sans-serif;

// All
$width-container: 125rem;
$padding-container: 1rem;
$width-card: 40rem;